{% extends 'restaurant/base/base.html' %}
{% load static %}
{% block content %}
    <link type="text/css" rel="stylesheet" href="{% static 'restaurant/css/index.css' %}">

    <div class="wrapper">
        <div class="hero">
            {% include 'restaurant/semantics/header.html' %}
            <div>
                <h1 class="pt-3 mt-3 text-center">Welcome to My Restaurant</h1>
            </div>
        </div>

        

        <div class="row" mx-2>
            <div class="col">
                <img style="height:200px; width:200px;" src="../../media/{{ meals.0.image}}">
                {{meals.0.name}}
                {{meals.0.price}}
                {{meals.0.stock}}

            </div>
            <div class="col">
                <img style="height:200px; width:200px;" src="../../media/{{ meals.1.image}}">
                {{meals.1.name}}
                {{meals.1.price}}
                {{meals.1.stock}}
            </div>
            <div class="col">
                <img style="height:200px; width:200px;" src="../../media/{{ meals.2.image}}">
                {{meals.2.name}}
                {{meals.2.price}}
                {{meals.2.stock}}
            </div>
        </div>
    </div>

{% endblock content %}
  