<header>
    <div class="navigator">
        <nav class="navbar navbar-expand-lg sticky-top"
         style="box-shadow: none;">
            <div class="container">
                <button class="navbar-toggler" type="button" 
                 data-bs-toggler="collapse" aria-expanded="false"
                 aria-label="Toggle Navigation" data-bs-target="#navbarContent"
                 aria-controls="navbarContent">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav container-fluid justify-content-center">
                        <li class="nav-item active mx-2">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>